@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --bgDark: #111827;
  --textColor: #374151;
  --paragraph: #9ca3af;
  --primary: #0ad1bb;
  --roseRed: #cd4163;
  --green: #13ce66;
}

html {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease;
}

.mainContent {
  color: var(--textColor);
}

.mainWrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: var(--roseRed);
  outline: none;
  border: none;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* <!---------Home------------------ */
.hero {
  background-image: url("/bg4.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.anim {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.drop-shadow {
  filter: drop-shadow(-6px 5px 10px #858585);
}
