@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --bgDark: #111827;
  --textColor: #374151;
  --paragraph: #9ca3af;
  --primary: #0ad1bb;
  --roseRed: #cd4163;
  --green: #13ce66;
}

html {
  scroll-snap-type: mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--textColor);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease;
}

p {
  color: var(--paragraph);
  text-align: justify;
}

.mainContent {
  background-color: var(--bg);
  color: var(--textColor);
}

.mainWrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #d7d7d7;
  background: -webkit-linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
  background: linear-gradient(0deg, #d7d7d7 0%, #eeeeee 100%);
}

.btn {
  background-color: var(--roseRed);
  outline: none;
  border: none;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* <!---------Home------------------ */
.hero {
  background-image: url("/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
